img{
    width: 800px;
    height: 600px;
  }
  #dashed-1 {
    margin-bottom: 5px;
    padding: 3px;
    border: none;
    height: 2px;
    background: #000;
    background: repeating-linear-gradient(70deg, #000, #000 6px, transparent 6px, transparent 8px);
  }
.page-footer{
  color: white;
  text-align: center;
  background-color: #1b2327;
  font-size: 80%;
  height: 6em;
  margin-top: 1em;
  padding: 1em;
}
.form-field-size{
  max-width: 60%;
  min-width: 50%;
  margin-left:30%;
}
.make_reservation_input{
  padding: 3px;
  border: 1px solid rgb(33, 37, 37);
  border-radius: 2px;
}
.custom-swal-size {
  max-height: 200px !important;
  min-height: 200px !important;
  max-width: 500px !important;
  min-width: 400px !important;  
}
.custom-popup-form {
  display: inline;
  width:200px;
  height: 30px;
  border: 1px solid #218838 ;
}
.datepicker {
  z-index: 10000;
}
.swal2-confirm{
  color:#218838;
  background-color: green;
} 
.swal2-styled{
  background-color: green;

}