{{template "base" .}}

{{define "title"}}
    <title>Contact</title>
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Contact Information</h2>
            <p>Address: Court Station Road 6th, 6000 Rajshahi, Bangladesh</p>
            <p>Phone: 01700000000</p>
            <p>Website: <a href="http://www.traveltryst.com">traveltryst.com</a></p>
            <p>Email: contact@traveltryst.com <a class="btn btn-outline-success" href="mailto:contact@traveltryst.com">Send Email</a></p></p>
          </div>
        </div>
    </div>
{{end}}