{{template "base" .}}

{{define "title"}}
    <title>Reservation</title>
{{end}}

{{define "css"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/css/datepicker-bs4.min.css">
{{end}}

{{define "content"}}
<div class="container">
    {{$res := index .Data "reservation"}}
    <div class="row">
        <div class="col"></div>
        <div class="col"><h2>Traveller's Information</h2></div>
        <div class="col"></div>
    </div>
    <div class="navbar navbar-dark bg-dark text-center text-white align-items-center border rounded" >
        {{$str := .StringMap}}
        <div class="col">Check-in: {{$str.start_date}}</div>
        <div class="col">Check-out: {{$str.end_date}}</div>
        <div class="col">Room Name: {{$str.room_name}}</div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <form action="/make-reservation" method="post" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="room_id" id="room_id" value="{{$res.RoomID}}">
                <div class="form-group">
                    <label for="first_name"><b>First Name:</b></label>
                    {{with .Form.Err.Get "first_name"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <br>
                    <input type="text" name="first_name" id="first_name" class="make_reservation_input {{with .Form.Err.Get "first_name"}} is-invalid {{end}}" value="{{$res.FirstName}}" required>
                </div>
                <div class="form-group">
                    <label for="last_name"><b>Last Name:</b></label>
                    {{with .Form.Err.Get "last_name"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <br>
                    <input type="text" name="last_name" id="last_name" class="make_reservation_input {{with .Form.Err.Get "last_name"}} is-invalid {{end}}" value="{{$res.LastName}}" required>
                </div>
                <div class="form-group">
                    <label for="email"><b>Email:</b></label>
                    {{with .Form.Err.Get "email"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <br>
                    <input type="email" name="email" id="email" class="make_reservation_input {{with .Form.Err.Get "email"}} is-invalid {{end}}" value="{{$res.Email}}" required>
                </div>
                <div class="form-group">
                    <label for="mobile_number"><b>Mobile:</b></label>
                    {{with .Form.Err.Get "mobile_number"}}
                        <label class="text-danger">{{.}}</label>
                    {{end}}
                    <br>
                    <input type="text" name="mobile_number" id="mobile_number" class="make_reservation_input {{with .Form.Err.Get "mobile_number"}} is-invalid {{end}}" value="{{$res.MobileNumber}}" required>
                </div>
                <div class="row">
                    <div class="col ml-5"><input type="submit" class="btn btn-success text-center" value="Submit"></div>

                </div>
            </form>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.3.4/dist/js/datepicker-full.min.js"></script>
    <script src="/static/js/form-validation.js"></script>
    <script src="/static/js/date-picker-calender.js"></script>
{{end}}