{{template "base" .}}

{{define "titel"}}
    <title>Summary</title>
{{end}}

{{define "content"}}
    <div class="container bg-dark text-white">
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col"><h2>Reservation Summary</h2></div>
            <div class="col"></div>
        </div>
        <div class="row mt-4">
            <div class="col">
                {{$res := index .Data "reservation"}}
                <table class="table table-striped text-white">
                    <thead>Tourist Information:</thead>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ printf "%s " $res.FirstName }}{{$res.LastName }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{$res.Email}}</td>
                        </tr>
                        <tr>
                            <td>Mobile:</td>
                            <td>{{$res.MobileNumber}}</td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-striped text-white">
                    <thead>Booking Information:</thead>
                    <tbody>
                        <tr>
                            <td>Room Name:</td>
                            <td><td>{{$res.Room.RoomName}}</td></td>
                        </tr>
                        <tr>
                            <td>Check-in:</td>
                            <td><td>{{$res.StartDate}}</td></td>
                        </tr>
                        <tr>
                            <td>Check-out:</td>
                            <td><td>{{$res.EndDate}}</td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"><a href="/" class="btn btn-success">Go to Home</a></div>
            <div class="col"></div>
        </div>
    </div>

{{end}}